// error
$error--dark: #c91d1d;
$error--light: #e24536;

// dark theme - blue shades
$bg--dark: #101820;
$bg-card-1--dark: #0d1825;
$bg-card-2--dark: #0e1b2b;
$btn-1--dark: #052750;
$btn-2--dark: #00306e;
$btn-3--dark: #003b81;
$border-1--dark: #004993;
$border-2--dark: #0b58ab;
$border-3--dark: #0a69cb;
$brand-1--dark: #0466c8;
$brand-2--dark: #0d59ac;
$text-1--dark: #75b7ff;
$text-2--dark: #c8e3ff;

// dark theme - error
$error: $error--dark;

// dark theme - blue accent shades
$bg-card-a1--dark: #0019f506;
$bg-card-a2--dark: #0053f80d;
$btn-a1--dark: #005eff37;
$btn-a2--dark: #005cfd5a;
$btn-a3--dark: #0068ff6f;
$border-a1--dark: #0076ff84;
$border-a2--dark: #087fff9f;
$border-a3--dark: #0981ffc4;
$brand-a1--dark: #017ffec1;
$brand-a2--dark: #0c7ffea1;
$text-a1--dark: #75b7ff;
$text-a2--dark: #c8e3ff;

$accent-contrast--dark: #fff;
$accent-surface--dark: #0d1e3680;
$accent-indicator--dark: #0466c8;
$accent-track--dark: #0466c8;

// dark theme - gray shades
$gray-1--dark: #15171b;
$gray-2--dark: #1c1e22;
$gray-3--dark: #23262d;
$gray-4--dark: #292c34;
$gray-5--dark: #2e323c;
$gray-6--dark: #353a46;
$gray-7--dark: #414756;
$gray-8--dark: #586075;
$gray-9--dark: #656e82;
$gray-10--dark: #737b8e;
$gray-11--dark: #adb3c3;
$gray-12--dark: #eceef2;

// dark theme - gray accent shades
$gray-a1--dark: #e5000006;
$gray-a2--dark: #fc8e480d;
$gray-a3--dark: #f7c2be15;
$gray-a4--dark: #fdd5dd1b;
$gray-a5--dark: #f8e1f921;
$gray-a6--dark: #e7defd2c;
$gray-a7--dark: #dadaff3e;
$gray-a8--dark: #ccd4fd62;
$gray-a9--dark: #d0dbfd71;
$gray-a10--dark: #d9e1ff7e;
$gray-a11--dark: #e7ecfebb;
$gray-a12--dark: #f9fbfef1;

// light theme - blue shades
$bg--light: #f3f2e8;
$bg-card-1--light: #edeef0;
$bg-card-2--light: #e6eaef;
$btn-1--light: #dae2ed;
$btn-2--light: #cadaee;
$btn-3--light: #b8cfed;
$border-1--light: #a3c1e9;
$border-2--light: #8aafe0;
$border-3--light: #6596d6;
$brand-1--light: #0466c8;
$brand-2--light: #0057b8;
$text-1--light: #0055b6;
$text-2--light: #0f325d;

// light theme - error
$error: $error--light;

// light theme - blue accent shades
$bg-card-a1--light: #e2e7ff59;
$bg-card-a2--light: #c9d8ff4e;
$btn-a1--light: #82aaff38;
$btn-a2--light: #5797ff43;
$btn-a3--light: #0053ff38;
$border-a1--light: #0000fe0c;
$border-a2--light: #0258d66f;
$border-a3--light: #0255c996;
$brand-a1--light: #0064c7fb;
$brand-a2--light: #0057b8;
$text-a1--light: #0055b6;
$text-a2--light: #012654f0;

$accent-contrast--light: #fff;
$accent-surface--light: #e3e9f1cc;
$accent-indicator--light: #0466c8;
$accent-track--light: #0466c8;

// light theme - gray shades
$gray-1--light: #ededef;
$gray-2--light: #e8e9ec;
$gray-3--light: #dedfe4;
$gray-4--light: #d4d6dc;
$gray-5--light: #cbced6;
$gray-6--light: #c3c6cf;
$gray-7--light: #b6bac5;
$gray-8--light: #a1a7b6;
$gray-9--light: #747a88;
$gray-10--light: #6a6f7d;
$gray-11--light: #4e525d;
$gray-12--light: #1d2026;

// light theme - gray accent shades
$gray-a1--light: #e0e2ff4e;
$gray-a2--light: #b5c0ff2d;
$gray-a3--light: #0b20bc17;
$gray-a4--light: #031a8c21;
$gray-a5--light: #01187b2a;
$gray-a6--light: #03166b33;
$gray-a7--light: #04175f41;
$gray-a8--light: #03175657;
$gray-a9--light: #020e3286;
$gray-a10--light: #000b2b90;
$gray-a11--light: #02081cae;
$gray-a12--light: #00040de1;

html[style="color-scheme: dark"] {
  --bg: #{$bg--dark};
  --bg-card-1: #{$bg-card-1--dark};
  --bg-card-2: #{$bg-card-2--dark};
  --btn-1: #{$btn-1--dark};
  --btn-2: #{$btn-2--dark};
  --btn-3: #{$btn-3--dark};
  --border-1: #{$border-1--dark};
  --border-2: #{$border-2--dark};
  --border-3: #{$border-3--dark};
  --brand-1: #{$brand-1--dark};
  --brand-2: #{$brand-2--dark};
  --text-1: #{$text-1--dark};
  --text-2: #{$text-2--dark};
  --link-1: #{$gray-a11--dark};
  --link-2: #{$text-a1--dark};

  --bg-card-1-accent: #{$bg-card-a1--dark};
  --bg-card-2-accent: #{$bg-card-a2--dark};
  --btn-1-accent: #{$btn-a1--dark};
  --btn-2-accent: #{$btn-a2--dark};
  --btn-3-accent: #{$btn-a3--dark};
  --border-1-accent: #{$border-a1--dark};
  --border-2-accent: #{$border-a2--dark};
  --border-3-accent: #{$border-a3--dark};
  --brand-1-accent: #{$brand-a1--dark};
  --brand-2-accent: #{$brand-a2--dark};
  --text-1-accent: #{$text-a1--dark};
  --text-2-accent: #{$text-a2--dark};

  --gray-1: #{$gray-1--dark};
  --gray-2: #{$gray-2--dark};
  --gray-3: #{$gray-3--dark};
  --gray-4: #{$gray-4--dark};
  --gray-5: #{$gray-5--dark};
  --gray-6: #{$gray-6--dark};
  --gray-7: #{$gray-7--dark};
  --gray-8: #{$gray-8--dark};
  --gray-9: #{$gray-9--dark};
  --gray-10: #{$gray-10--dark};
  --gray-11: #{$gray-11--dark};
  --gray-12: #{$gray-12--dark};
  --gray-a1: #{$gray-a1--dark};
  --gray-a2: #{$gray-a2--dark};
  --gray-a3: #{$gray-a3--dark};
  --gray-a4: #{$gray-a4--dark};
  --gray-a5: #{$gray-a5--dark};
  --gray-a6: #{$gray-a6--dark};
  --gray-a7: #{$gray-a7--dark};
  --gray-a8: #{$gray-a8--dark};
  --gray-a9: #{$gray-a9--dark};
  --gray-a10: #{$gray-a10--dark};
  --gray-a11: #{$gray-a11--dark};
  --gray-a12: #{$gray-a12--dark};
  --accent-contrast: #{$accent-contrast--dark};
  --accent-surface: #{$accent-surface--dark};
  --accent-indicator: #{$accent-indicator--dark};
  --accent-track: #{$accent-track--dark};
}

html[style="color-scheme: light"] {
  --bg: #{$bg--light};
  --bg-card-1: #{$bg-card-1--light};
  --bg-card-2: #{$bg-card-2--light};
  --btn-1: #{$btn-1--light};
  --btn-2: #{$btn-2--light};
  --btn-3: #{$btn-3--light};
  --border-1: #{$border-1--light};
  --border-2: #{$border-2--light};
  --border-3: #{$border-3--light};
  --brand-1: #{$brand-1--light};
  --brand-2: #{$brand-2--light};
  --text-1: #{$text-1--light};
  --text-2: #{$text-2--light};
  --link-1: #{$gray-a11--light};
  --link-2: #{$text-a1--light};

  --bg-card-1-accent: #{$bg-card-a1--light};
  --bg-card-2-accent: #{$bg-card-a2--light};
  --btn-1-accent: #{$btn-a1--light};
  --btn-2-accent: #{$btn-a2--light};
  --btn-3-accent: #{$btn-a3--light};
  --border-1-accent: #{$border-a1--light};
  --border-2-accent: #{$border-a2--light};
  --border-3-accent: #{$border-a3--light};
  --brand-1-accent: #{$brand-a1--light};
  --brand-2-accent: #{$brand-a2--light};
  --text-1-accent: #{$text-a1--light};
  --text-2-accent: #{$text-a2--light};

  --gray-1: #{$gray-1--light};
  --gray-2: #{$gray-2--light};
  --gray-3: #{$gray-3--light};
  --gray-4: #{$gray-4--light};
  --gray-5: #{$gray-5--light};
  --gray-6: #{$gray-6--light};
  --gray-7: #{$gray-7--light};
  --gray-8: #{$gray-8--light};
  --gray-9: #{$gray-9--light};
  --gray-10: #{$gray-10--light};
  --gray-11: #{$gray-11--light};
  --gray-12: #{$gray-12--light};
  --gray-a1: #{$gray-a1--light};
  --gray-a2: #{$gray-a2--light};
  --gray-a3: #{$gray-a3--light};
  --gray-a4: #{$gray-a4--light};
  --gray-a5: #{$gray-a5--light};
  --gray-a6: #{$gray-a6--light};
  --gray-a7: #{$gray-a7--light};
  --gray-a8: #{$gray-a8--light};
  --gray-a9: #{$gray-a9--light};
  --gray-a10: #{$gray-a10--light};
  --gray-a11: #{$gray-a11--light};
  --gray-a12: #{$gray-a12--light};
  --accent-contrast: #{$accent-contrast--light};
  --accent-surface: #{$accent-surface--light};
  --accent-indicator: #{$accent-indicator--light};
  --accent-track: #{$accent-track--light};
}
