// absolute colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// green shades
$green-60: hsl(76, 100%, 60%);
$green-65: hsl(76, 100%, 65%);
$green-70: hsl(76, 100%, 70%);
$green-80: hsl(76, 100%, 80%);
$green-90: hsl(76, 100%, 90%);
$green-95: hsl(76, 100%, 95%);
$green-97: hsl(76, 100%, 97%);
$green-99: hsl(76, 100%, 99%);

// white shades
$white-90: hsl(240, 6%, 90%);
$white-95: hsl(240, 6%, 95%);
$white-97: hsl(240, 6%, 97%);
$white-99: hsl(240, 6%, 99%);

// grey shades
$grey-10: hsl(0, 0%, 10%);
$grey-11: hsl(0, 0%, 11%);
$grey-15: hsl(0, 0%, 15%);
$grey-20: hsl(0, 0%, 20%);
$grey-30: hsl(240, 1%, 30%);
$grey-35: hsl(240, 1%, 35%);
$grey-40: hsl(240, 1%, 40%);
$grey-60: hsl(240, 1%, 60%);
$grey-70: hsl(0, 0%, 70%);
$grey-75: hsl(0, 0%, 75%);
