@use "colors" as *;
@use "variables" as *;

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.mx-auto {
  margin: 0 auto;
}
.gap-4xs {
  gap: $space-4xs;
}

.text-left {
  text-align: left;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $grey-15;
}

.show {
  max-height: calc(100% + 200px);
}

.collapse {
  max-height: 1300px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: calc(100% + 10px);
    height: 100%;
    top: 1px;
    left: -5px;
    border-radius: inherit;
    position: absolute;
    background: linear-gradient(hsl(0, 0%, 10%, 0) 75%, hsl(0, 0%, 10%));
    transition: background 0.3 ease;
  }
}

.bg-curve--left {
  background-image: url("/public/images/dark/abstracts/bg-left-curve.png");
}
.bg-curve--right {
  background-image: url("/public/images/dark/abstracts/bg-right-curve.png");
}
.bg-dots--left {
  background-image: url("/public/images/dark/abstracts/bg-corner-dots.png");
}

.icon {
  width: 20px;
  height: 20px;

  &.icon--small {
    width: 13px;
    height: 13px;
  }
  &.icon--large {
    width: 44px;
    height: 44px;
  }
}
