@use "mixins" as *;
@use "sass:math";

// font-family
$font-family-primary: "Lexend", sans-serif;

// font-size
$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.75;
$font-size-sm: $base-font-size * 0.875;
$font-size-lg: $base-font-size * 1.125;
$font-size-xl: $base-font-size * 1.25;
$font-size-2xl: $base-font-size * 1.375;
$font-size-3xl: $base-font-size * 1.625;
$font-size-4xl: $base-font-size * 1.75;
$font-size-5xl: $base-font-size * 1.875;
$font-size-6xl: $base-font-size * 2.375;
$font-size-7xl: $base-font-size * 2.5;
$font-size-8xl: $base-font-size * 3;
$font-size-9xl: $base-font-size * 3.5;

// font weight
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// spacing
$base-space: 1rem;

$space-5xs: $base-space * 0.375;
$space-4xs: $base-space * 0.5;
$space-3xs: $base-space * 0.625;
$space-2xs: $base-space * 0.75;
$space-xs: $base-space * 0.875;
$space-sm: $base-space * 0.938;
$space-lg: $base-space * 1.25;
$space-xl: $base-space * 1.5;
$space-2xl: $base-space * 1.875;
$space-3xl: $base-space * 2.5;
$space-4xl: $base-space * 3.125;
$space-5xl: $base-space * 3.75;
$space-6xl: $base-space * 5;
