@use "../abstracts/" as *;

.container {
  @include flex(column);
  gap: $space-4xl;
  align-items: center;

  &:first-of-type {
    grid-area: 1 / 1 / 1 / -1;
  }
  &:nth-of-type(2) {
    grid-area: 2 / 1 / 2 / -1;
  }
  &:nth-of-type(3) {
    grid-area: 3 / 1 / 3 / -1;
  }
  &:nth-of-type(4) {
    grid-area: 4 / 1 / 4 / -1;
  }
  &:nth-of-type(5) {
    grid-area: 5 / 1 / 5 / -1;
  }
  &:nth-of-type(6) {
    grid-area: 6 / 1 / 6 / -1;
  }
  &:nth-of-type(7) {
    grid-area: 7 / 1 / 7 / -1;
  }
}

.container--introduction {
  .container__introduction-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px auto;

    .container__illustration {
      grid-area: 1 / 1 / 3 / 1;

      img {
        width: 100%;
      }
    }

    .container__text {
      grid-area: 2 / 1 / -1 / 1;
      padding: $space-xl;
      border-radius: $space-lg;
      background-color: var(--bg-card-2);
    }
  }

  .container-pattern {
    padding: $space-xs;
  }
}

.container__content {
  @include flex(column);
  gap: $space-2xl;
}

.container__content-wrapper {
  @extend .container__content;

  .container__content-item {
    gap: $space-4xl;

    &:first-child {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: 1fr 1fr;
      gap: $space-3xs;
    }
  }
}

.container__text {
  @include flex(column);
  gap: $space-lg;
}

.container__text-wrapper {
  @include flex(column);
  gap: $space-3xs;
}

.container__content-item {
  @include flex(column);
  gap: $space-lg;
  align-items: center;
}

.container__content-icon {
  display: flex;
  margin: 0 auto;
  border: 1px solid var(--gray-5);
  border-radius: $space-3xs;
  padding: $space-2xs;
}

.container__tabs {
  @include flex;
  padding: $space-2xs;
  border-radius: $space-4xs;
  align-self: center;
  background-color: var(--bg-card-2);
}

.container__stats {
  @extend .container__text;
  gap: $base-space;
}

.container--testimonials {
  .container__content {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 1fr auto;
  }

  .container__card {
    grid-area: 1 / 1 / 1 / -1;
    align-items: center;
    text-align: center;

    .container__card-icon {
      width: 100%;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: calc(50% - 22px - 16px);
        height: 1px;
        background-color: var(--gray-5);
      }
      &::before {
        top: 50%;
        left: 0;
        translate: 0 -50%;
      }
      &::after {
        top: 50%;
        right: 0;
        translate: 0 -50%;
      }

      .icon {
        margin: 0 auto;
      }
    }
  }

  .btn {
    padding: $space-2xs;
    &:first-of-type {
      grid-area: 2 / 2 / 2 / 2;
    }
    &:last-of-type {
      grid-area: 2 / 3 / 2 / 3;
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

.container--cta {
  background-color: var(--bg-card-2);
  border-radius: $space-sm;

  .container__content {
    align-items: center;

    &.container-pattern {
      padding: $space-2xl;
    }
  }
}

.container--benefits {
  .container__card {
    .container__card-title {
      grid-template-columns: 64px auto;
    }
  }
}

.container-pattern {
  background-repeat: no-repeat;
  border: 1px solid var(--gray-5);
  padding: 1.25rem;
  border-radius: $space-3xs;
}

@include lg {
  .container {
    align-items: start;
  }

  .container--introduction {
    .container__introduction-content {
      .container__text {
        padding: $space-5xl;
      }
    }

    .container-pattern {
      padding: $space-3xl;
    }
  }

  .container__content-wrapper {
    .container__content-item {
      &:first-child {
        grid-template-columns: 1fr 1fr;
      }
      .container__card {
        display: grid;
        grid-template-rows: 1fr 1fr;

        :first-child {
          align-self: flex-end;
        }
      }
    }
  }

  .container__content {
    .container__content-wrapper {
      flex-direction: row;
      max-width: none;

      .container__content-item {
        flex-basis: 50%;
        align-items: start;
      }
    }
  }

  .container__text {
    width: 100%;
    text-align: left;

    &:not(.container__text-with-tabs) {
      max-width: 110ch;
    }

    &.container__text-with-tabs {
      flex-direction: row;
      justify-content: space-between;

      .container__text-wrapper {
        flex-basis: 60%;
      }

      .container__tabs {
        align-self: flex-end;
      }
    }
  }

  .container--faqs {
    .container__content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      transition: all 0.3s ease;
    }
    .container__card {
      .line {
        width: 100%;
        height: 1px;
      }
    }
  }

  .container--testimonials {
    .container__content {
      display: grid;
      grid-template-columns: auto repeat(3, 1fr) auto;
      grid-template-rows: 1fr;
    }

    .container__card {
      &:first-of-type {
        grid-area: 1 / 2 / 1 / 2;
      }
      &:nth-of-type(2) {
        grid-area: 1 / 3 / 1 / 3;
      }
      &:last-of-type {
        grid-area: 1 / 4 / 1 / 4;
      }
    }

    .btn {
      align-self: center;
      &:first-of-type {
        grid-area: 1 / 1 / 1 / 1;
      }
      &:last-of-type {
        grid-area: 1 / -1 / 1 / -1;
      }
    }
  }

  .container--cta {
    .container__content {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;

      &.container-pattern {
        padding: $space-5xl;
      }

      .container__text-wrapper {
        flex-basis: 75%;
      }
    }
  }
}

@include xl {
  .container--introduction {
    .container__introduction-content {
      grid-template-columns: 1fr minmax(5rem, 10rem) 1fr;
      grid-template-rows: 1fr;

      .container__illustration {
        grid-area: 1 / 2 / 1 / 4;
      }
      .container__text {
        grid-area: 1 / 1 / 1 / 3;
      }
    }
  }
}

@include xxl {
  .container--introduction {
    .container__introduction-content {
      grid-template-rows: 1fr 10rem;

      .container__illustration {
        grid-area: 1 / 2 / 3 / 4;
      }
    }
  }
}
