@use "../abstracts/" as *;

$grid-columns-small: 6;
$grid-columns-large: 12;

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-columns-small, 1fr);
  column-gap: 1rem;
  text-align: center;
}

.grid-container--sm {
  grid-template-columns: 1fr;
  grid-template-rows: auto 40px auto;
  padding-bottom: $space-6xl;
  gap: 0;
}
