@use "../abstracts/" as *;

header.grid-container {
  background-color: var(--bg);
  align-items: center;
  padding: 0.875rem 0;
  border-bottom: 1px solid var(--gray-5);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;

  .logo {
    grid-area: 1 / 1 / 1 / 4;
  }

  nav {
    grid-area: 1 / 4 / 1 / 7;
    place-self: end;
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--bg);
  width: 60vw;
  max-width: 256px;
  height: 100vh;
  padding: min(20rem, 15vh) 2rem;
  position: fixed;
  right: -100%;
  top: 0;
  transition: right 250ms ease-in-out;
  z-index: 90;
  border-left: 1px solid var(--gray-5);
}

.drawer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .drawer__link {
    display: block;
    // padding: $space-sm $space-lg;
    border-radius: $space-2xl;
  }
}

.drawer__cta {
  @extend .drawer__list;
  align-items: center;
}

@include lg {
  header.grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    column-gap: 0;
    padding: $space-xs 0;

    .logo {
      grid-area: auto;
    }

    nav {
      width: 100%;
      grid-area: auto;
    }
  }

  .drawer {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: none;
    height: fit-content;
    padding: 0;
    position: static;
    border-left: transparent;
  }

  .drawer__list {
    flex-direction: row;
    gap: $space-sm;
  }

  .drawer__cta {
    .btn {
      width: auto;
    }
  }

  button#toggleBtn {
    display: none;
  }

  .theme-toggle {
    place-self: center end;
  }
}

@include xl {
  header.grid-container {
    grid-template-columns: 0.6fr auto;

    nav {
      ul {
        gap: $space-2xl;
      }
    }
  }
}
