@use "../abstracts/" as *;

.btn {
  background-color: transparent;
  border: transparent;
  padding: 0.875rem 1.5rem;
  border-radius: 1.5rem;
  color: $white;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $green-60;
  color: $black !important;

  svg {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background-color: $green-70;
  }
}

.btn-secondary {
  background-color: $grey-11;
  border: 1px solid $grey-15;

  &:hover {
    color: $green-60;
    border-color: $green-70;
  }

  &[aria-selected="true"] {
    background-color: $grey-10;
    color: $green-60;
  }
}

.btn-tertiary {
  &:hover {
    color: $green-60;
  }

  &#signUp {
    background-color: $grey-15;
    border: 1px solid $grey-20;
  }
}

.btn-with-icon {
  @include flex;
  align-items: center;
  width: fit-content;
  gap: 4px;
}

button#toggleBtn {
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
  z-index: 100;
  padding: 0.25rem 0.875rem;
}

.drawer__cta .btn {
  width: 100%;
  text-align: center;
}

footer {
  .btn-tertiary {
    padding: 0;
  }
}
