@use "../abstracts/" as *;
@import "https://unpkg.com/open-props/easings.min.css";

.btn {
  background-color: transparent;
  border: transparent;
  padding: $space-3xs $space-xl;
  border-radius: $space-5xs;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: var(--brand-2);
  color: var(--accent-contrast);

  svg {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background-color: var(--brand-1);
  }
}

.btn-secondary {
  color: var(--gray-12);
  background-color: transparent;
  border: 1px solid var(--border-1);

  &:hover {
    background-color: var(--btn-2);
  }

  &[aria-selected="true"] {
    background-color: var(--btn-2);
  }
}

.btn-tertiary {
  color: var(--link-1);

  &:hover {
    color: var(--gray-12);
  }
}

.btn-with-icon {
  @include flex;
  align-items: center;
  width: fit-content;
  gap: 4px;
}

button#toggleBtn {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  z-index: 100;
  padding: $space-5xs $space-xs;
}

.drawer__cta .btn {
  width: 100%;
  text-align: center;
}

footer {
  .btn-tertiary {
    padding: 0;
  }
}

// theme toggle button
.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: $space-5xs $space-xs;
  width: fit-content;
  height: 100%;
  border: 1px solid var(--gray-5);
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--gray-12);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--gray-12);
}

.sun-and-moon > .sun-beams {
  stroke: var(--gray-12);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--gray-12);
}

[style="color-scheme: dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[style="color-scheme: dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[style="color-scheme: dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [style="color-scheme: dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition:
      transform 0.5s var(--ease-elastic-4),
      opacity 0.5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [style="color-scheme: dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
    transform: scale(1.75);
  }

  [style="color-scheme: dark"] .sun-and-moon > .sun-beams {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }

  [style="color-scheme: dark"] .sun-and-moon > .moon > circle {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}
