@use "../abstracts/" as *;

.container__card {
  @include flex(column);
  gap: $space-xs;
  height: 100%;
  padding: $space-lg;
  background-repeat: no-repeat;
  background-size: 40%;
  text-align: left;
  border-radius: $space-4xs;

  &.container__card--darkest {
    border: 1px solid var(--gray-5);
  }
  &.container__card--dark {
    border: 1px solid var(--gray-5);
  }
  &.container__card--transparent {
    background-color: transparent;
    position: relative;
    padding: 0 0 0 $space-lg;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: var(--brand-2);
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }
  }
  &.container__card--gradient {
    padding: $space-2xl $space-xl;
    gap: $base-space;
    border: 1px solid var(--gray-5);
  }

  .container__card-title {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: $space-sm;
  }
}

.container__card-article {
  gap: $space-2xl;

  .article__content {
    @include flex(column);
    gap: $space-2xl;
  }

  .article__image {
    img {
      width: 100%;
    }
  }

  .article__header,
  .article__text,
  .article__list {
    @include flex(column);
    gap: $space-lg;
  }

  .article__header {
    .article__header-wrapper {
      @include flex;
      gap: $space-3xs;
      flex-wrap: wrap;

      p {
        padding: $space-4xs $base-space;
        border: 1px solid var(--border-1);
        border-radius: $space-3xs;
      }
    }
  }

  .article__list {
    ul {
      @include flex(column);
      gap: $space-lg;
      li {
        @include flex;
        gap: $space-3xs;
        align-items: center;
      }
    }
  }

  .btn {
    width: fit-content;
  }
}
