@use "../abstracts/" as *;

body {
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  color: var(--gray-12);
}

nav {
  font-size: $font-size-sm;
}

a {
  text-decoration: none;

  &:not(.btn) {
    color: var(--link-1);

    &:hover {
      color: var(--gray-12);
    }
  }

  &#forgotPassword {
    text-decoration: underline;
  }
}

h1 {
  font-size: $font-size-4xl;
  font-weight: $font-weight-medium;
  line-height: 1.5;

  span {
    color: var(--text-1);
  }
}

h2 {
  @extend h1;
}

h3 {
  font-size: $font-size-xl;
}

article h3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}

p,
.footer__bottom-bar {
  font-weight: $font-weight-light;
}

.hero__value-proposition {
  font-weight: $font-weight-light;
  font-size: $font-size-xs;
}

.container__stats {
  span {
    font-weight: $font-weight-bold;
    font-size: $font-size-7xl;
    display: block;
  }
}

.container__card {
  .container__card-name {
    font-weight: $font-weight-bold;
  }

  &.container__card--transparent {
    h3 {
      font-size: $font-size-5xl;
      font-weight: $font-weight-medium;
    }
  }
}

form {
  .form__message,
  .form__input-container .form__input-error {
    font-size: $font-size-sm;

    &.error {
      color: $error;
    }
  }
}

@include lg {
  body,
  footer {
    font-size: $base-font-size;
  }
  h1,
  h2 {
    font-size: $font-size-6xl;
  }
  .hero__value-proposition {
    font-size: $font-size-sm;
  }
  article h3 {
    font-size: $font-size-xl;
  }
}

@include xl {
  body,
  nav,
  button,
  .hero__value-proposition {
    font-size: $font-size-lg;
  }
  h1 {
    font-size: $font-size-9xl;
  }
  h2 {
    font-size: $font-size-8xl;
  }
}
