@use "../abstracts/" as *;

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  color: $white-90;
}

nav {
  font-size: var(--fs-200);
}

a {
  text-decoration: none;
  color: $grey-11;

  &:visited {
    color: inherit;
  }
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-medium);
  line-height: 1.5;

  span {
    color: $green-60;
  }
}

h2 {
  @extend h1;
  font-size: var(--fs-700);
}

p {
  color: $grey-70;
  font-weight: var(--fw-light);
}

.hero__value-proposition {
  font-weight: var(--fw-light);
  font-size: 0.75rem;
}

.cases__type-text {
  color: $white;
}
