@use "../abstracts/" as *;

body {
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  color: $white-90;
}

nav {
  font-size: $font-size-sm;
}

a {
  text-decoration: none;
  color: currentColor;

  &:hover {
    color: $green-60;
  }

  &#forgotPassword {
    text-decoration: underline;
  }
}

h1 {
  font-size: $font-size-4xl;
  font-weight: $font-weight-medium;
  line-height: 1.5;

  span {
    color: $green-60;
  }
}

h2 {
  @extend h1;
}

h3 {
  font-size: $font-size-xl;
}

article h3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}

p,
.footer__bottom-bar {
  color: $grey-70;
  font-weight: $font-weight-light;
}

.hero__value-proposition {
  font-weight: $font-weight-light;
  font-size: $font-size-xs;
}

.container__stats {
  span {
    font-weight: $font-weight-bold;
    font-size: $font-size-7xl;
    color: $green-60;
    display: block;
  }
}

.cases__type-text {
  color: $white;
}

.container__card {
  .container__card-name {
    color: $green-60;
  }

  &.container__card--transparent {
    h3 {
      font-size: $font-size-5xl;
      font-weight: $font-weight-medium;
      color: $grey-30;
    }
  }
}

@include md {
  body {
    font-size: $base-font-size;
  }
  h1,
  h2 {
    font-size: $font-size-6xl;
  }
  .hero__value-proposition {
    font-size: $font-size-sm;
  }
}

@include lg {
  body,
  nav {
    font-size: $font-size-lg;
  }

  button {
    font-size: $font-size-sm;
  }
}
