@use "../abstracts/" as *;

.container--mission {
  .container__card-wrapper {
    @include flex(column);
    border-top-left-radius: $space-3xl;
    border-top-right-radius: $space-3xl;

    .container__text {
      padding-top: $space-2xl;
      border-top: 1px solid $green-60;
    }
  }

  .container__card {
    height: fit-content;
    padding: $space-lg $space-lg 0;
    border: 1px solid $grey-15;
    background-image: url("/public/images/dark/abstracts/bg-radial.png");

    img {
      width: 100%;
    }
  }
}

@include lg {
  .container--mission {
    .container__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr clamp(1.25rem, -4.0948rem + 8.6207vi, 6.25rem) 1fr;
    }

    .container__card-wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom-left-radius: $space-sm;
      border-bottom-right-radius: $space-sm;

      .container__card {
        flex-basis: 45%;
      }
      .container__text {
        flex-basis: 55%;
        border-top: none;
        padding-top: 0;
      }

      &:first-of-type {
        grid-area: 1 / 1 / 3 / -1;

        .container__text {
          border-left: 1px solid $green-60;
          padding-left: $space-3xl;
        }
      }
      &:last-of-type {
        grid-area: 2 / 1 /4 / -1;
        flex-direction: row-reverse;

        .container__text {
          border-right: 1px solid $green-60;
          padding-right: $space-3xl;
        }
      }
    }

    .container__card {
      padding: $space-3xl $space-3xl 0;
    }
  }

  .container--press {
    .container__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include xl {
  .container--mission {
    .container__card {
      padding: $space-5xl $space-5xl 0;
    }
  }
}
