@use "../abstracts/" as *;

.container__card-job {
  gap: $space-2xl;

  .job__details {
    @include flex(column);
    gap: $space-2xl;
  }

  .job__position,
  .job__description,
  .job__requirement {
    @include flex(column);
    gap: $space-lg;
  }

  .job__position {
    .job__position-wrapper {
      @include flex;
      gap: $space-3xs;
      flex-wrap: wrap;

      p {
        padding: $space-4xs $base-space;
        border: 1px solid $grey-15;
        background-color: $grey-10;
        border-radius: $space-2xl;
      }
    }
  }

  .job__requirement {
    ul {
      @include flex(column);
      gap: $space-lg;
      li {
        @include flex;
        gap: $space-3xs;
      }
    }
  }

  .btn {
    width: fit-content;
  }
}
