@use "../abstracts/" as *;

.container--values {
  .container__content {
    gap: $space-4xl;
  }
}

.container--benefits {
  .container__card-wrapper {
    border-radius: $space-sm;
    border-top-left-radius: $space-3xl;
    border-top-right-radius: $space-3xl;
    border: solid 1px transparent;
    background-image: linear-gradient($grey-11, $grey-11),
      linear-gradient(
        to right top,
        hsl(76, 100%, 60%, 0.1),
        hsl(0, 0%, 15%, 0) 17%,
        hsl(0, 0%, 15%, 0) 69%,
        hsl(0, 0%, 15%)
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.container__card-job {
  gap: $space-2xl;

  .job__details {
    @include flex(column);
    gap: $space-2xl;
  }

  .job__position,
  .job__description,
  .job__requirement {
    @include flex(column);
    gap: $space-lg;
  }

  .job__position {
    .job__position-wrapper {
      @include flex;
      gap: $space-3xs;
      flex-wrap: wrap;

      p {
        padding: $space-4xs $base-space;
        border: 1px solid $grey-15;
        background-color: $grey-10;
        border-radius: $space-2xl;
      }
    }
  }

  .job__requirement {
    ul {
      @include flex(column);
      gap: $space-lg;
      li {
        @include flex;
        gap: $space-3xs;
      }
    }
  }

  .btn {
    width: fit-content;
  }
}
