@use "../abstracts/" as *;

.container--products {
  .container__content {
    &:first-child {
      gap: 1.25rem;
    }
  }
}

.container--cases {
  .cases__row {
    display: grid;
    grid-template-columns: subgrid;
    gap: 0.625rem;
  }

  .cases__item {
    @include flex(column);
    align-items: center;
    justify-content: start;
    gap: 0.875rem;
    padding: 1.25rem 0.875rem;
    background-color: $grey-10;
    border-radius: 0.75rem;
    border: 1px solid $grey-15;
  }
}

.container__content-wrapper {
  max-width: 570px;
}

.container--features {
  align-items: normal;

  .container__text {
    align-self: center;
  }

  .container__content-wrapper {
    &:last-child {
      align-self: center;
    }
  }

  .container__tabs {
    gap: $space-lg;
    overflow-x: scroll;
    padding: $space-lg;
    border-radius: $space-sm;
    scrollbar-width: none;
    border: transparent;
    align-self: normal;

    &:hover {
      cursor: pointer;
    }
  }
}

.container--faqs {
  .container__content {
    gap: $space-4xs;
  }
  .container__content-wrapper {
    transition: all 0.3s ease;
  }
}

.container--testimonials {
  .container__card {
    align-items: center;
    text-align: center;

    .container__card-icon {
      width: 100%;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: calc(50% - 22px - 16px);
        height: 1px;
        background-color: $grey-15;
      }
      &::before {
        top: 50%;
        left: 0;
        translate: 0 -50%;
      }
      &::after {
        top: 50%;
        right: 0;
        translate: 0 -50%;
      }

      .icon {
        margin: 0 auto;
      }
    }
  }
  .container__card-btn {
    @include flex;
    gap: $space-lg;
    justify-content: center;

    .btn {
      border-radius: 50%;
      padding: $space-2xs;
      &:last-of-type {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
.container--cta {
  .container__card {
    align-items: center;
    text-align: center;
  }
}

@include lg {
  .container__content-wrapper {
    flex-direction: row;
    max-width: none;
  }
  .container__content-item {
    flex-basis: 50%;

    &:last-child {
      text-align: left;
    }
  }
  .container__stats {
    flex-direction: row;
  }
}
