@use "../abstracts/" as *;

.container--products {
  .container__content {
    &:first-child {
      gap: 1.25rem;
    }
  }
}

.container--features {
  align-items: normal;

  .container__content-wrapper {
    &:last-child {
      align-self: center;
    }
  }

  .container__tabs {
    gap: $space-lg;
    overflow-x: scroll;
    padding: $space-lg;
    border-radius: $space-4xs;
    scrollbar-width: none;
    border: transparent;
    align-self: normal;

    &:hover {
      cursor: pointer;
    }
  }
}

@include md {
  .container--cases {
    .container__stats {
      flex-direction: row;

      .line {
        height: 100%;
      }
    }
  }
}

@include lg {
  .hero {
    flex-direction: row;

    .hero__introduction,
    .hero__illustration {
      flex-basis: 50%;
    }

    .hero__introduction {
      align-items: start;
      text-align: left;

      .hero__subcontainer {
        align-items: start;
      }
    }
  }

  .container--products {
    .container__content {
      flex-direction: row;

      .line {
        width: 1px;
        height: 100%;
      }
    }
  }

  .container--cases {
    .container__content-wrapper {
      &:last-of-type {
        flex-direction: row-reverse;
      }
    }
  }

  .container--features {
    .container__tabs {
      flex-direction: column;
      align-self: normal;
      height: fit-content;
    }
    .container__content {
      display: grid;
      grid-template-columns: auto 1fr;

      .container__content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
