@use "../abstracts/" as *;

.container--form {
  background-color: $grey-11;
  border-radius: $space-lg;
  border: 1px solid $grey-15;
  padding: $space-2xl;
}

form {
  width: 100%;

  .form__input-container {
    @include flex(column);
    gap: $space-lg;
    width: 100%;

    .form__input {
      @include flex(column);
      text-align: left;

      input {
        background-color: $grey-10;
        border: 1px solid $grey-15;
        padding: $base-space;
        border-radius: $space-xl;
        color: $white;
      }
    }
  }

  .form__button-container {
    @include flex(column);
    width: 100%;
    gap: $space-xl;
  }
  .form__social-container {
    @include flex(column);
    gap: $space-xl;
    align-items: center;

    .form__social-text {
      @include flex;
      gap: $base-space;
      align-items: center;
      width: 100%;

      .line {
        flex: 1;
      }
    }
    .form__social {
      @include flex;
      gap: $space-xl;
      justify-content: center;

      .form__icon-container {
        &:hover::before {
          border: 2px solid $grey-15;
        }
      }
    }
  }
}

@include lg {
  .container.container--form {
    grid-area: 1 / 2 / 1 / 12;
  }

  .container--form {
    padding: clamp(3.75rem, -5.9755rem + 15.6863vi, 6.25rem) clamp(6.25rem, -13.201rem + 31.3725vi, 11.25rem);
    align-items: center;

    .container__text {
      text-align: center;
    }

    form {
      .form__input-container {
        flex-direction: row;

        .form__input {
          flex-basis: 50%;
        }
      }

      .form__button-container {
        padding-inline: clamp(0.625rem, -15.4095rem + 25.8621vi, 15.625rem);
      }
    }
  }
}

@include xl {
  .container--form {
    padding-inline: clamp(9.375rem, 14.7321rem + -4.4643vi, 11.25rem);
  }
}
