@use "../abstracts/" as *;

.container--secure {
  .container__card {
    .container__card-title {
      grid-template-columns: 64px auto;
    }
  }
}

@include lg {
  .container--secure {
    .container__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
