@use "../abstracts/" as *;

.container--secure {
  .container__content {
    .container__card--gradient {
      border-radius: $space-lg;
      // border: 1px solid $grey-15;
    }
  }

  .container__card {
    .container__card-title {
      grid-template-columns: 64px auto;
    }
  }
}

@include lg {
  .container--secure {
    .container__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@include xl {
  .container--secure {
    .container__content {
      position: relative;
      padding: $space-5xl;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        // background-color: $grey-11;
        border-radius: $space-sm;
        border-top-left-radius: $space-3xl;
        border-top-right-radius: $space-3xl;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}
